*{ 
    box-sizing: border-box;
}
html,boby{  
    height: 100%;
}
body{
    background-color: rgb(182, 96, 96);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; */
    justify-content: center;
    align-items: center;
}
a {
    color: rgb(214, 34, 34);
    text-decoration: none;
}
.create {
    background-color: rgb(45, 45, 117);
    width: 100%;
    max-width: 768px; /*estilo responsi maximo*/
    min-height: 320px; /*estilo responsi minimo */
    border-radius: 15px;
    padding: 10px; /* es un espaciado interno en los border*/
}
.login {
    text-align: right;
    font-size: 18%;
    padding-right: 10px;
}
.conten {
    width: 65%;
    margin: 10px auto; 
}
.conten>h1 {
    font-size: 26px;
    text-align: center;

}
.conten p {
    font-size: 16px;
    text-align: center;
    
}
.form {
    margin-top: 10px;

}
.form label {
    font-size: 14px;
    font-weight: bold;
    display: block; /* reempaza al br */
    margin: 10px;
}
.form input {
    display: block;
    border: none;
    width: 100%;
    
}
.form input:not([type=submit]):hover{ /* hover pone color cuando pase el cursor al texto cuando se llena*/
    color: green;
}
.form input:not([type=submit])::placeholder{ /*pone color por defecto*/
    color: red;
}

.form input:not([type=submit]):focus-visible{ /*pone color por defecto*/
    color: yellow;
}

.form input:not([type=submit]){
    background-color: transparent;
    padding: 15px;
    border: 1px solid rgb(45, 45, 117);
    margin-top: 10px;
    color: white;
    font-size: 18px;

}
.form input [type=submit]{
    border-radius: 15px;
    background-color: purple;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    width: 250px;
    cursor: pointer;
}
.legal {
    background-color: black;
    border-radius: 15px;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    font-size: 15px;
    color: aquamarine;
    text-align: center;
}
/* .div { */
    /* width: 500px; */
    /* height: 500px; */
    /* background-color: red; */
/* } */
